.main-header {
  position: relative;
  max-width: 1560px;
  margin: 0 auto;
}

.main-header__logo {
  position: absolute;
}

.main-header__navbar {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 1560px) {
  .main-header {
    margin: 0 9vw;
  }
}