.main-header {
  position: relative;
  max-width: 1560px;
  margin: 34px auto 36px;
}

.main-header__logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.collapse_nav {
  display: none;
  font-size: 29px;
  order: 3;
  margin-left: 50px;
  
  span {
    position: relative;
    top: 18%;
  }
}

.main-header__navbar {
  align-self: center;
  font-weight: 500;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin-right: 50px;
  }
}

.main-header__phone {
  align-self: center;
  margin-left: 42px;
  font-weight: 500;

  .lnr-phone-handset {
    display: inline-block;
    margin-right: 3px;
    font-weight: 500;
    font-size: 25px;
    padding: 7px;
  }

  p {
    display: inline-block;
    margin: 0;
    align-self: center;
  }
}

@media (max-width: 1560px) {
  .main-header {
    margin: 34px 9vw 36px;
  }
}

@media (max-width: 1080px) {
  .main-header__navbar {
    ul {
      padding: 18px;
      background-color: $bg-color;
      position: absolute;
      right: 0;
      top: 100%;
      display: none;

      li {
        display: block;
        margin: 15px 0 0 0;

        &:first-child {
          margin: 0;
        }
      }
    }
  }

  .collapse_nav {
    display: inline-block;
  }
}