.how-we-work {
  padding-top: 85.8px;
}

.how-we-work__title {
  text-align: center;
  margin: 0 0 52px;
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
}

.how-we-work__description {
  p {
    margin: 0 0 30px;
    line-height: 27px;
  }

  ul {
    padding: 0;
    line-height: 37px;
    list-style: none;

    li {
      position: relative;
      padding-left: 0.7em;

      &::before {
        content: '• ';
        position: absolute;
        font-size: 27px;
        color: $list-bullet-color;
        left: 0;
        top: -1px;
      }
    }
  }
}