.how-we-work {
  padding-top: 86px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 160%;
    background-color: $how-we-work-before-color;
    z-index: -100;
    top: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 15vh solid $bg-color;
    border-left: 100vw solid transparent;
    opacity: 0.6;
  }
}

.how-we-work__title {
  text-align: center;
  margin: 0 0 52px;
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
}

.how-we-work__description {
  p {
    margin: 0 0 30px;
    line-height: 27px;
  }

  ul {
    padding: 0;
    line-height: 37px;
    list-style: none;

    li {
      position: relative;
      padding-left: 0.7em;

      &::before {
        content: '• ';
        position: absolute;
        font-size: 27px;
        color: $list-bullet-color;
        left: 0;
        top: -1px;
      }
    }
  }
}