.work-steps {
  margin-top: 86px;
}

.work-steps__step {
  flex: 100%;
  margin-bottom: 86px;

  &:nth-child(2n) {
    flex-direction: row-reverse;

    .work-steps__step__img {
      margin-right: 0;
      margin-left: 100px;
    }

  }
}

.work-steps__description {
  flex: 50%;

  p {
    line-height: 27px;
    margin: 20px 0 30px;
  }
}

.work-steps__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.work-steps__step__img {
  position: relative;
  width: $image-size;
  height: $image-size;
  margin-right: 100px;
  align-self: flex-end;
  box-shadow: 5px 16px 30px -8px rgba(0,0,0,0.5);

  img {
    display: inline-block;
    width: $image-size;
    height: $image-size;
    object-fit: cover;
  }

  .work-steps__step__img__no {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 82px;
    font-weight: 700;
    color: white;
  }
}

