*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 830px;
  margin: 0 auto;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;

  &.justify--right {
    justify-content: flex-end;
  }
}