/* Fonts */
$font-main: 'Montserrat', sans-serif;

/* colors */
$text-color: #1B3E43;
$hover-link-color: #F4B65D;
$bg-button-color: #F4B65D;
$bg-button-hover-color: #F4B65D80;
$list-bullet-color: #4791A0;
$bg-color: #FFFFFF;
$how-we-work-before-color: #C9DFE7;
$image-shape-2n-child-bg-color: #ECF3F6;
$img-shape-large-bg-color: #F4B65D;

/* settings */
$font-size-normal: 18px;
$transition: all 0.5s;
$image-size: 270px;