/* Fonts */
$font-main: 'Montserrat', sans-serif;

/* colors */
$text-color: #1B3E43;
$hover-link-color: #F4B65D;
$bg-button-color: #F4B65D;
$bg-button-hover-color: #F4B65D80;
$list-bullet-color: #4791A0;
$bg-color: #FFFFFF;
$how-we-work-before-color: #C9DFE7;
$image-shape-2n-child-bg-color: #ECF3F6;
$img-shape-large-bg-color: #F4B65D;

/* settings */
$font-size-normal: 18px;
$transition: all 0.5s;
$image-size: 270px;

/*clipPath*/
$img-shape: 'M42,269.764a42,42,0,0,1-42-42V36.009A36,36,0,0,1,41.913.5L239.846,33.457c18.944,3.154,28.943,17.68,29.995,32.835a25.272,25.272,0,0,1,.16,2.842v158.63a42,42,0,0,1-42,42Z';
$img-shape-large: 'M0,450.454V93A60,60,0,0,1,60,33H331a60,60,0,0,1,60,60V387.527a35.931,35.931,0,0,1-13.227,27.883,38.082,38.082,0,0,1-18.812,9.4l-313.486,62.9A37.941,37.941,0,0,1,0,450.454Z';